.aboutSection{
    display: flex;
    justify-content: space-evenly;
    margin: 150px 0;
    flex-direction: row;
    background-color: rgb(4, 4, 23);
    padding: 50px;
}

.aboutImage{
    width: 30%;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(164, 158, 158);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
.aboutImage img{
    border: 10px solid white;
    border-radius: 10px;
}
.aboutText{
    width: 40%;
}

.aboutText h1{
    font-size: 40px;
}

.aboutText h3{
    font-weight: 400;
    color: rgb(173, 173, 186);
}

.aboutText p{
    color: rgb(144, 138, 138);
}

.findTourBtn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: coral;
    cursor: pointer;
    transition: all .4s ease-out;
}

.findTourBtn:hover{
    transform: translate(0, -4px);
    box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 500px) {
    .aboutSection{
        flex-direction: column;
        margin-top: 1300px;
        padding: 20px;
    }
    .aboutImage{
        width: 90%;
        margin: 0% auto;
    }
    .aboutText{
        width: 90%;
        padding: 20px;
    }
}