.bookingSection{
    display: flex;

}
.orders{
    width: 70%;
    position: absolute;
    right: 100px;
}

.ordersHeader{
    display: flex;
    justify-content: space-between;
}

.ordersMain{
    width: 100%;
    background-color: rgb(102, 180, 220);
    border-radius: 10px;
    padding: 30px;
}

.tableHeader{
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-around;
    color: rgb(140, 136, 136);
}

.ordersContainer{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-around;
}

.selectStatus{
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background-color: rgb(183, 177, 247);
}

@media screen and (max-width: 500px) {
    .orders{
        width: 80%;
        top: 400px;
        left: 20px;
    }
    .tableHeader{
        display: none;
    }

    .ordersContainer{
        flex-direction: column;
        padding: 20px;
        margin: 40px;
    }
}